h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
html {
    background-color: black;
}
a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}
p{
    text-align: center;
}